:root {
    --black: #000000;
    --deep-black: #101010;
    --blue: #0d6efd;
    --soft-violet:#676b84;
    --violet: #3b5998;
    --body-size: 15px;
    --white: #fff;
    --red: #bd3232;
}

*,::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
}

body {
    background-color: #F7FAFF;
    color: var(--soft-violet);
    font-family: var(--body-size);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-fluid {
	display: flex;
	flex-direction: row;
}

.box {
    background-color: var(--white);
    padding: 25px;
    border-radius: 10px;
}

.alert {
    padding: 10px 25px;
    border-radius: 3px;
}

.alert-danger {
    border: 1px solid var(--red);
    color: var(--white);
    font-weight: bold;
    background-color: var(--red);
}

ul {
	list-style-type: none;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: all .3s ease-in;
}

.link:hover {
    text-decoration: underline;
    color: var(--blue);
}

.login_box {
    width: 500px;
    margin-top: 200px;
}

.login_box h2 {
    color: var(--deep-black);
    margin-bottom: 25px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infobulle {
	position: relative;
	cursor: help;
}

.infobulle:hover::after,
.infobulle:focus::after {
	content: attr(aria-label);
	position: absolute;
	top: -2.4em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	white-space: nowrap;
	padding: 10px;
	font-family: inherit;
	background-color: var(--white);
	border-radiu: 5px;
}

[aria-label]:focus {
	outline: none;
  }

.input {
    padding: 10px 20px;
    border-radius: 3px;
    font-family: inherit;
    border: 1px solid #dddddd;
    margin-bottom: 25px;
    width: 100%;
}

.input:focus {
    outline: none;
}

.btn {
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 25px;
    font-size: 13px;
    transition: all .3s ease-in-out;
}

.btn-primary {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
	box-shadow: rgba(59,118,239,0.3) 0px 5px 10px 0px;
}

.btn-primary:hover {
    border: 1px solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
}

/* Sidebar */

.sidebar {
	height: 100%;
	width: 250px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 20px;
}

.sidebar .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: #fff;
	padding: 20px;
}

.sidebar .navlink {
	margin-top: 20px;
}

.sidebar .navlink .nav_item{
	display: flex;
	align-items: center;
	margin-top: 10px;
	padding: 15px;
	border-radius: 10px;
	transition: all .2s ease-in-out;
}

.sidebar .navlink .nav_item:hover {
	background-color: #fff;
	cursor: pointer;
}

.sidebar .navlink .nav_item a{
	text-decoration: none;
	color: inherit;
	margin-left: 20px;
}

.footer {
	height: 100px;

}

/* Main Page */

.main-page {
	margin: 10px 0 0 250px;
	min-height: 100vh;
	margin-bottom: -100px;
}

.search-bar {
	background-color: var(--white);
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 50px;
	width: 250px;
	margin: auto;
}

.search-bar .search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar .search input {
	border: none;
	padding: 10px 20px;
	font-family: 'Muli';
	font-weight: bold;
	font-size: 15px;
	color: inherit;
	margin-right: 5px;
}

.search-bar .search input:focus {
	outline: none;
}
