:root {
    --black: #000000;
    --deep-black: #101010;
    --blue: #0d6efd;
    --soft-violet:#676b84;
    --violet: #3b5998;
    --body-size: 15px;
    --white: #ffffff;
	--grey: #f7faff;
    --red: #ca4343;
	--green: rgb(0, 150, 58);
	--yellow: rgb(223, 223, 0);
}

*,::after,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    box-sizing: inherit;
}

body {
    background-color: #F7FAFF;
    color: var(--soft-violet);
    font-family: var(--body-size);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-fluid {
	display: flex;
	flex-direction: row;
}

.box {
    background-color: var(--white);
    padding: 25px;
    border-radius: 10px;
	margin-bottom: 20px;
}

.alert {
    padding: 10px 25px;
    border-radius: 3px;
}

.alert-danger {
    border: 1px solid var(--red);
    color: var(--white);
    font-weight: bold;
    background-color: var(--red);
}

ul {
	list-style-type: none;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: all .3s ease-in;
}

.link:hover {
    text-decoration: underline;
    color: var(--blue);
}

.login_box {
    width: 500px;
    margin-top: 200px;
}

.login_box h2 {
    color: var(--deep-black);
    margin-bottom: 25px;
}

form {
	margin: 10px 0;
}

.infobulle {
	position: relative;
	cursor: help;
}

.infobulle:hover::after,
.infobulle:focus::after {
	content: attr(aria-label);
	position: absolute;
	top: -2.4em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	white-space: nowrap;
	padding: 10px;
	font-family: inherit;
	background-color: var(--white);
	border-radius: 5px;
}

[aria-label]:focus {
	outline: none;
  }

.input_login {
    padding: 10px 20px;
    border-radius: 3px;
    font-family: inherit;
    border: 1px solid #dddddd;
    margin-bottom: 25px;
    width: 100%;
}

.input {
	border: none;
	padding: 15px 20px;
	color: var(--soft-violet);
	font-family: inherit;
	transition: all .3s ease;
	border-radius: 10px;
	width: 100%;
	margin-top: 20px;
	background-color: #f7faff;
}

.input_float {
	margin: 10px 0;
}

.input_float .input {
	margin: 5px 0;
}

input:focus {
    outline: none;
}

.btn {
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 12.5px 0;
    font-size: 13px;
    transition: all .3s ease-in-out;
	width: 100%;
}

.btn-icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.btn-action {
	border-radius: 20px;
	margin: 0 5px;
}

.btn-primary {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
	box-shadow: rgba(59,118,239,0.3) 0px 5px 10px 0px;
}

.btn-success {
	background-color: var(--green);
	color: var(--white);
	border: 1px solid var(--green);
	box-shadow: rgba(59, 239, 104, 0.3) 0px 5px 10px 0px;
}

.btn-danger {
	background-color: var(--red);
	color: var(--white);
	border: 1px solid var(--red);
	box-shadow: rgba(239, 59, 59, 0.3) 0px 5px 10px 0px;
}

.btn-secondary-danger {
	border: 1px solid var(--red);
	color: var(--red);
	transition: all .3s ease-in-out;
}

.btn-secondary-danger:hover{
	background-color: var(--red);
	color: var(--white);
}

.btn-warning {
	background-color: var(--yellow);
	color: var(--white);
	border: 1px solid var(--yellow);
	box-shadow: rgba(223, 223, 0, 0.407) 0 5px 10px 0px;
}

.btn-main {
	background-color: var(--violet);
    color: var(--white);
    border: 1px solid var(--violet);
	box-shadow: rgba(80, 59, 239, 0.3) 0px 5px 10px 0px;
}

.btn-main:hover {
    border: 1px solid var(--violet);
    background-color: var(--white);
    color: var(--violet);
}
.btn-primary:hover {
    border: 1px solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
}

.logout {
	width: 100%;
}

/* Sidebar */

.sidebar {
	height: 100%;
	width: 250px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 20px;
	position: fixed;
}

.sidebar .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: #fff;
	padding: 20px;
}

.sidebar .navlink {
	margin-top: 20px;
}

.sidebar .navlink .nav_item{
	display: flex;
	align-items: center;
	margin-top: 10px;
	padding: 15px;
	border-radius: 10px;
	transition: all .2s ease-in-out;
}

.sidebar .navlink .nav_item:hover {
	background-color: #fff;
	cursor: pointer;
}

.sidebar .navlink .nav_item a{
	text-decoration: none;
	color: inherit;
	margin-left: 20px;
}

.profil_user {
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px 0;
	border-radius: 15px;
	transition: all .3s ease-in;
	cursor: pointer;
}

.profil_user:hover {
	background-color: var(--white);
}

.img {
	background-position: center;
	background-size: contain;
	background-color: var(--grey);
	border-radius: 100%;
}

.img-sm {
	height: 50px;
	width: 50px;
}

.footer {
	height: 100px;
}

/* Main Page */

.main-page {
	margin: 10px 0 0 250px;
	min-height: 100vh;
	padding: 0 50px;
}


.search-bar {
	background-color: var(--white);
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 50px;
	width: 100%;
	margin: auto;
}

.search-bar .search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar .search input {
	border: none;
	padding: 10px 20px;
	font-family: 'Muli';
	font-weight: bold;
	font-size: 15px;
	color: inherit;
	margin-right: 5px;
	background-color: #F7FAFF;
	border-radius: 10px;
}

.search-bar .search input:focus {
	outline: none;
}

.page_title {
	margin-top: 10px;
	margin-bottom: 25px;
}

/* PCG */

.input-container input[type="file"] {
	display: block;
	width: 100%;
	padding: 0.75rem;
	opacity: 0;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.input-container .file-button {
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    background-color: #0054ff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.input-container .file-name {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    position: absolute;
    left: 185px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


.upload_container {
	margin: auto;
	border: 2px dashed var(--soft-violet);
	border-radius: 10px;
	padding: 10px 20px;
	cursor: pointer;
	/* width: fit-content; */
	transition: all .3s ease-in-out;
}

.upload_container:hover {
	background-color: #676b841c;
}

.upload_container label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
}

.upload_container label img {
	margin: 20px 0;
}

.input_file {
	cursor: pointer;
	display: none;
}

table {
	width: 100%;
	border: none;
	text-align: center;
	border-collapse: collapse;
}

table thead tr th{
	text-transform: uppercase;
	border-bottom: 1px solid #676b847d;
	padding: 10px;
}

table tbody tr td{
	padding: 10px;
	border-bottom: 1px solid #676b844c;
}

table tbody tr .action_col {
	display: flex;
	align-items: center;
	justify-content: center;
}

.empty{
	color: red;
}

.import-link{
	border: none;
	text-decoration: none;
	padding: 4px 4px;
	border-radius: 5px;
	background-color: #a5adc6;
	color: white;
}

/* Sign in */
